@using MD.UI.Helpers
@model IEnumerable<MD.Application.ViewModels.TipoHistoriaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{ 
    if(this.IfClaim("ModuloTipoHistoria", "THI"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CodTipoHistoria }) |

            @if (this.IfClaim("ModuloTipoHistoria", "THD"))
            {
               @Html.ActionLink("Details", "Details", new { id = item.CodTipoHistoria }) <span> |</span>
            }

            @Html.ActionLink("Delete", "Delete", new { id = item.CodTipoHistoria })
        </td>
    </tr>
}

</table>
